<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/css/login.css">    
</head>
<body>
  <nav>
		<div class="logo">
			<h1 >BLOOD</h1>
		</div>
		<div class="menu">
			<a href="bloodstock"><h1>Stock</h1></a>
      <a href="Donate"><h1>Donate</h1></a>
      <a href="donorinfo"><h1>Donor INFO</h1></a>
      <a href="modify"><h1>Modify</h1></a>
      <a href="/logout"><h1>Logout</h1></a>
		</div>
	</nav>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Donor Info </h2>
   

    <!-- Icon -->
    <div class="fadeIn first">
      <h1>BLOOD</h1>
    </div>


    <!-- Login Form -->
    <form action="/donorinfo" method="post">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="variable">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="key">
      <input type="submit" class="fadeIn fifth" value="submit">
    </form>
<div class="msg">{{ msg }}</div>
   <!-- Remind Passowrd -->
   <br>
   <br>

  </div>
</div>
</body>
</html>






